@import "../../styles/vars";
@import "../../styles/utils";

.widget {
  background: $colorGreyLight;
  border-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-rows: min-content 1fr;

  @include media("mobile") {
    margin-bottom: 14px;
  }

  &-header {
    color: #333333;

    &-about {
      display: flex;
      align-items: center;
      margin-bottom: 23px;

      @include media("mobile") {
        margin-bottom: 16px;
      }

      &__title {
        font-family: $fontBold;
        font-size: rem(24);
        text-align: left;

        @include media("mobile") {
          font-size: rem(14);
        }
      }

      &__icon {
        margin-right: 18px;
        width: 55px;
        height: 55px;

        @include media("mobile") {
          width: 35px;
          height: auto;

          &.icon_stats {
            height: 50px;
            width: auto;
          }

          &.icon_air-conditioner {
            height: 40px;
          }
        }
      }
    }

    &-data {
      display: flex;
      justify-content: space-between;
      color: $colorBlack;
    }

    &__type {
      font-size: rem(18);
      margin-bottom: 20px;

      @include media("mobile") {
        margin-bottom: 0;
        font-size: rem(12);
      }
    }

    &__date {
      font-size: rem(18);

      @include media("mobile") {
        font-size: rem(12);
      }
    }
  }

  &-content {
    margin-top: 15px;
    display: grid;

    @include media("mobile") {
      margin-top: 15px;
    }

    // it isn't perfect

    & > * {
      &:first-child {
        align-self: start;
      }

      &:last-child {
        align-self: end;
      }
    }

    &__text {
      font-size: rem(20);
      line-height: rem(23);
      max-width: 430px;

      @include media("mobile") {
        font-size: rem(18);
      }

      &_width {
        &-l {
          max-width: 640px;
        }

        font-size: rem(24);
        line-height: rem(28);

        @include media("mobile") {
          font-size: rem(18);
          font-size: rem(22);
        }
      }
    }

    &__image {
      width: 100%;
      margin-top: 32px;

      &_type-stats {
        border-radius: 0 0 20px 20px;
        margin-top: 52px;
      }
    }

    &__sensors {
      display: flex;
      list-style: none;
    }

    &__buttons {
      display: flex;
      margin-top: 10px;

      @include media("mobile") {
        justify-content: space-between;
        margin-top: 24px;
      }
    }
  }

  &-sensor {
    margin-right: 55px;
    margin-top: 30px;
    font-size: rem(18);

    &:last-child {
      margin-right: 0;
    }

    &__value {
      margin-left: 5px;
      font-family: $fontBold;
    }

    @include media("mobile") {
      font-size: rem(14);
    }
  }

  &_size {
    &-l {
      grid-column: span 4;
      grid-row: span 3;
    }

    &-m {
      grid-column: span 3;
      grid-row: span 2;
    }

    &-s {
      grid-column: span 2;

      .widget-header-data {
        display: block;

        @include media("mobile") {
          display: flex;
        }
      }
    }
  }

  &_type {
    &-info {
    }

    &-critical {
      .widget-header {
        background: $colorCritical;
        margin: -20px -20px 0 -20px;
        padding: 20px 20px 40px 20px;
        border-radius: 20px 20px 0 0;
        color: #fff;

        &-data {
          color: #fff;
        }
      }

      .widget-content {
        border-radius: 20px 20px 0 0;
        margin: -20px -20px 0 -20px;
        padding: 22px 20px 0 20px;
        background: $colorGreyLight;
      }
    }
  }
}

.player {
  &__title {
    font-size: rem(20);
    margin-bottom: 23px;

    @include media("mobile") {
      font-size: rem(18);
    }
  }

  &-now {
    &__cover {
      float: left;
      margin-right: 16px;
    }

    &__title {
      font-size: rem(20);

      @include media("mobile") {
        font-size: rem(18);
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  &-progress {
    display: flex;
    margin: 10px 0;
    align-items: center;

    &__track {
      flex-grow: 1;
    }

    &__time {
      margin-left: 16px;
      font-family: Helvetica;
      font-size: rem(14);
      color: rgba(#a1a1a1, 0.84);
    }
  }

  &-volume {
    width: 100%;
    display: flex;

    &__track {
      flex-grow: 1;
    }

    &__percentage {
      margin-left: 16px;
      font-family: Helvetica;
      font-size: rem(14);
      color: rgba(#a1a1a1, 0.84);
    }
  }

  &-controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__nav {
    }

    &__volume {
      display: flex;
      flex-grow: 1;
      margin-left: 12px;
    }
  }

  &-control {
    &__icon {
      width: 55px;
      height: 55px;
    }

    &_prev {
      margin-right: 27px;
    }

    &_next {
      transform: rotate(180deg);
    }
  }
}
