extends ../layout/layout.pug
include ../components/icon/icon.pug

block page-content 
	.dashboard
		h1.dashboard-title Лента событий

		.dashboard-list#dashboard-list
					
	include ../components/widget/widgetTemplate.pug	

				
			
