extends ../layout/layout.pug
include ../components/icon/icon.pug

block page-content 
	.dashboard
		h1.dashboard-title Лента событий

		.dashboard-list
			section.widget.widget_size-l.widget_type_info
				header.widget-header
					.widget-header-about
						+icon("stats", "widget-header-about__icon", 52)
						h4.widget-header-about__title Еженедельный отчет по расходам ресурсов

					.widget-header-data
						.widget-header__type Сенсоры потребления
						.widget-header__date 19:00, Сегодня

				main.widget-content
					p.widget-content__text.widget-content__text_width-max
						| Так держать! За последнюю неделю вы потратили
						| на 10% меньше ресурсов, чем неделей ранее.
					
					img.widget-content__image.widget-content__image_type-stats(src="./images/richdata@3x.png", alt="statistic")

			section.widget.widget_size-s
				header.widget-header
					.widget-header-about
						+icon("key", "widget-header-about__icon", 52)
						h4.widget-header-about__title Дверь открыта

					.widget-header-data
						.widget-header__type Сенсор входной двери
						.widget-header__date 18:50, Сегодня


			section.widget.widget_size-s
				header.widget-header
					.widget-header-about
						+icon("robot-cleaner", "widget-header-about__icon", 52)
						h4.widget-header-about__title Уборка закончена

					.widget-header-data
						.widget-header__type Пылесос
						.widget-header__date 18:50, Сегодня

			section.widget.widget_size-s
				header.widget-header
					.widget-header-about
						+icon("router", "widget-header-about__icon", 52)
						h4.widget-header-about__title Новый пользователь

					.widget-header-data
						.widget-header__type Роутер
						.widget-header__date 18:50, Сегодня

			section.widget.widget_size-m
				header.widget-header
					.widget-header-about
						+icon("thermal", "widget-header-about__icon", 52)
						h4.widget-header-about__title Изменен климатический режим

					.widget-header-data
						.widget-header__type Сенсор микроклимата
						.widget-header__date 18:50, Сегодня

				main.widget-content
					p.widget-content__text
						| Установлен климатический режим «Фиджи»
					
					ul.widget-content__sensors
						li.widget-sensor
							span.widget-sensor__name Температура:
							span.widget-sensor__value 24C

						li.widget-sensor
							span.widget-sensor__name Влажность:
							span.widget-sensor__value 80%

			section.widget.widget_size-m.widget_type-critical
				header.widget-header
					.widget-header-about
						+icon("air-conditioner", "widget-header-about__icon", 52)
						h4.widget-header-about__title Невозможно включить кондиционер

					.widget-header-data
						.widget-header__type Кондиционер
						.widget-header__date 18:50, Сегодня

				main.widget-content
					p.widget-content__text
						| В комнате открыто окно, закройте его и повторите попытку
					
			section.widget.widget_size-m
				header.widget-header
					.widget-header-about
						+icon("music", "widget-header-about__icon", 52)
						h4.widget-header-about__title Музыка включена

					.widget-header-data
						.widget-header__type Яндекс.Станция
						.widget-header__date 18:50, Сегодня

				main.widget-content
						.player
							.player__title Сейчас проигрывается:
							.player-now
								img.player-now__cover(src="./images/album-cover.png", alt="Album cover")
								span.player-now__title Florence & The Machine - Big God

								.player-progress
									input.player-progress__track(type="range")
									label.player-progress__time 4:31

							.player-controls
								.player-controls__nav
									button.player-control.player-control_prev
										+icon("prev", "player-control__icon", 52)
									button.player-control.player-control_next
										+icon("prev", "player-control__icon", 52)
								
								.player-controls__volume
									.player-volume
										input.player-volume__track(type="range")
										label.player-volume__percentage 80%

							

			section.widget.widget_size-m
				header.widget-header
					.widget-header-about
						+icon("thermal", "widget-header-about__icon", 52)
						h4.widget-header-about__title Заканчивается молоко

					.widget-header-data
						.widget-header__type Холодильник
						.widget-header__date 18:50, Сегодня

				main.widget-content
					p.widget-content__text
						| Кажется, в холодильнике заканчивается молоко. Вы хотите добавить его в список покупок?
					
					.widget-content__buttons
						button.button.button_type-yellow.button_m-r-18 Да
						button.button.button_type-grey Нет

			section.widget.widget_size-l.widget_type-critical
				header.widget-header
					.widget-header-about
						+icon("cam-white", "widget-header-about__icon", 52)
						h4.widget-header-about__title Пылесос застрял

					.widget-header-data
						.widget-header__type Сенсоры движения
						.widget-header__date 19:00, Сегодня

				main.widget-content
					p.widget-content__text.widget-content__text_width-max
						|Робопылесос не смог сменить свое местоположение
						| в течение последних 3 минут. Похоже, ему нужно помощь.

					img.widget-content__image(src="./images/image.jpg", alt="Webcam")

			section.widget.widget_size-s
				header.widget-header
					.widget-header-about
						+icon("battery", "widget-header-about__icon", 52)
						h4.widget-header-about__title Зарядка завершена

					.widget-header-data
						.widget-header__type Оконный сенсор
						.widget-header__date 18:50, Сегодня
			
			section.widget.widget_size-s
				header.widget-header
					.widget-header-about
						+icon("kettle", "widget-header-about__icon", 52)
						h4.widget-header-about__title Вода вскипела

					.widget-header-data
						.widget-header__type Чайник
						.widget-header__date 18:50, Сегодня

					
					

				
			
