.videocontrol
  video.videocontrol-video#video-1(controls="true" muted="true" autoplay="true")
  video.videocontrol-video#video-2(controls="true" muted="true" autoplay="true")
  video.videocontrol-video#video-3(controls="true" muted="true" autoplay="true")
  video.videocontrol-video#video-4(controls="true" muted="true" autoplay="true")
